<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       #main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
    #main-footer p {
        margin: 0;
    }

    #main-footer a {
        color: white;
    }

    </style>
</head>
<body>
<footer id="main-footer">
    <h1>FOOTER</h1>
    <p style="font-size: 10px">Todos los derechos reservados</p>
</footer><!-- / #main-footer -->
</body>
</html>